.banner-top{
  background-color: black;
  width: 100%;
  height:20vh;

}
.col-left{

  height:80vh;
  width: 20vw;
  float:left;
  background-color: gray;
}
.col-right{

  height:80vh;
  width: 20vw;
  margin-right:0;
  float:right;
  background-color: gray;
}
.banner-bottom{

  height: 20vh;
  width: 58.4vw;
  bottom:0;
  position:absolute;
  background-color: black;
  margin-left:20vw;
}
